{% extends 'ask/base_template.html' %}


{% block MainContent %}

	<h1> {{ title }} </h1>

	<form action="{% url 'new_portfolio' User.username %}" method="post">
		{% csrf_token %}
		
		<div class="form-error"> {{ form.non_field_errors }} </div>

		{% for item in form%}
			<p> <label class="form-label" for="{{ item.id_for_label }}"> {{ item.label }} </label> {{ item }} </p>
			<div class="form-error"> {{ item.errors }} </div>
		{% endfor %}

		<button type="submit">Add portfolio</button>

	</form>

{% endblock %}