{% extends 'ask/base_template.html' %}

{% block MainContent %}

	{% for item in q_list %}

		<p>
			{{ item.title }} 
			{{ item.added_at|date:"SHORT_DATE_FORMAT" }}
			<a href=" {{ item.get_absolute_url }} "> link </a>	
		</p>
	{% endfor %}

	<div class="pagination">
	    <span class="page-links">
	    	
	        {% if q_list.has_previous %}
	        	<a href="?page=1">&laquo; first</a>
	            <a href="?page={{ q_list.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ q_list.number }} of {{ q_list.paginator.num_pages }}.
	        </span>

	        {% if q_list.has_next %}
	            <a href="?page={{ q_list.next_page_number }}">next</a>
	            <a href="?page={{ q_list.paginator.num_pages }}">last &raquo;</a>
	        {% endif %}
	    </span>
	</div>

{% endblock %}