{% extends 'ask/base_template.html' %}

{% block MainContent %}

	<p> Hello, {{ User.username }} </p>

	<p> Title: {{ question.title }} </p>
	<p> Author: {{ question.author }} </p>
	<p> Question text: {{ question.text }} </p>

	<div> 
		<h1> ANSWERS: </h1>
			{% for answer in answers %}
			<div>
				{{ answer.text }}
				{{ answer.author }}		 
			</div>
			{% endfor %}
	</div>

	<h1> ADD ANSWER </h1>

		{% for e in form.non_field_errors %}
			<div class="alert alert-danger">{{ e }}</div>
		{% endfor %}


	<form class="form-horizontal" action="{% url 'question_page' question.pk %}" method="post">

		{% csrf_token %}
			
			{% for field in form %}
				<div class="control-group
				{% if field.errors %}has-error{% endif %}">
				<label class="control-label">{{ field.label }}</label>
				<div class="controls">{{ field }}</div>
				</div>
			{% endfor %}
			
		<div class="form-actions">
			<button type="submit" class="btn btn-primary"> ADD </button>
		</div>
	</form>

{% endblock %}