<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1> {{ question.title }} </h1>
	<h2> {{ question.text }} </h2>

	{% for answer in answers %}
	<div>
		{{ answer.text }}		 
	</div>
	{% endfor %}

	{% if form.non_fields_errors %}
		<p> {{ form.non_fields_errors }} </p>
	{% endif %}

	<form action="{% url 'question_page' question.pk %}" method="post">

		{% csrf_token %}
		
		{% for line in form %}
		<p> {{ line }} </p>
		{% endfor %}

		<button type="submit">ADD ANSWER</button>
	</form>
</body>
</html>