{% extends "ask/base.html" %}

{% block MainMenu %}

	{% if User %}

		<span class="menu__item"> Hello, <a href=" {{ User.get_absolute_url }} ">{{User.username}}</a>  </span>
		<a class='menu__item' href=" {% url 'logout' %} "> Log Out </a>

	{% else %}

		<a class='menu__item' href=" {% url 'login' %} "> Log In </a>
		<a class='menu__item' href=" {% url 'signup' %} "> Sign Up </a>

	{% endif %}

{% endblock %}


{% block SideMenu %}
	{% if User %}
		<a href="{% url 'new_portfolio' User.username %}"> Add portfolio </a>
	{% endif %}
{% endblock %}